@font-face {
  font-family: Avenir;
  src: url(./assets/AvenirLTStd-Roman.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 900px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Avenir", sans-serif;
}

.counter-container {
  font-size: 21px;
  color: #b24242;
  width: 200px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-container button {
  width: 60px;
  height: 56px;
  border: 1px solid #b24242;
  font-size: 21px;
  font-weight: 550;
}

.counter-count input {
  box-sizing: border-box;
  width: 60px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbe8e8;
  font-size: 21px;
  color: #b24242;
  border: none;
  border-top: 1px solid #b24242;
  border-bottom: 1px solid #b24242;
  text-align: center;
  font-weight: 900px;
}

.counter-count input:focus {
  outline: none;
  color: #b24242;
  background: #fbe8e8;
}

.minus {
  color: #b24242;
  background: #ffffff;
  border-radius: 8px 0px 0px 8px;
}

.plus {
  color: #ffffff;
  background: #b24242;
  border-radius: 0px 8px 8px 0px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #fbe8e8;
  border: 1px solid #b24242;
  border-radius: 8px;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

.form-input {
  font-size: 21px;
  color: #b24242;
  border: none;
  border-bottom: 1px solid #b24242;
  font-weight: 900px;
  margin-bottom: 7px;
  background-color: #fbe8e8;
}

.form-input:focus {
  outline: none;
  color: #b24242;
  background: #fbe8e8;
}

.form-input::placeholder {
  font-size: 15px;
}
.form-btn-grp {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.form-btn-grp .btn {
  width: 50%;
  height: 36px;
  border: 1px solid #b24242;
  font-size: 15px;
  font-weight: 550;
  text-transform: uppercase;
  background-color: #b24242;
  color: #ffffff;
}

#go {
  border-radius: 8px 0px 0px 8px;
  border-right: 0.5px solid white;
}

#skip {
  border-radius: 0px 8px 8px 0px;
  border-left: 0.5px solid white;
}
